<template>
  <div class="p-3">
      <select v-model="selectedCategory" @change="onSelectCategory(selectedCategory)">
        <option v-for="category in categoryList">
          {{category}}
        </option>
      </select>
    <div class="d-flex justify-content-center flex-wrap mt-3">
      <template v-for="post in posts">
        <div class="card" style="width: 18rem; height: 200px;" v-on:click="onSelectPost(post)">
          <div class="card-header">{{post.header}}</div>
          <div class="card-body">{{post.body}}</div>
          <!--<div class="card-footer">{{post.footer}}</div>-->
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import {GET_ARCHIVE_POSTS, GET_ARCHIVE_POSTS_IS_LOADING, GET_ARCHIVE_POSTS_CATEGORY} from '../store/getters.type'
  import {FETCH_ARCHIVE_POSTS} from '../store/actions.type'

  export default {
    name: 'archive',
    data () {
      return {
        selectedCategory: 'Gods',
        categoryList: ['Gods', 'Religions', 'Artifacts', 'Peoples', 'Houses', 'Geolocations', 'Organisations', 'Events']
      }
    },
    methods: {
      onSelectCategory (category) {
        this.$store.dispatch(FETCH_ARCHIVE_POSTS, category)
      },
      onSelectPost (post) {
        this.$router.push('/app/archive/' + this.category + '/' + post.id)
      }
    },
    computed: {
      posts () {
        return this.$store.getters[GET_ARCHIVE_POSTS]
      },
      isLoading () {
        return this.$store.getters[GET_ARCHIVE_POSTS_IS_LOADING]
      },
      category () {
        return this.$store.getters[GET_ARCHIVE_POSTS_CATEGORY]
      }
    },
    mounted () {
      this.selectedCategory = this.category
      this.$store.dispatch(FETCH_ARCHIVE_POSTS, this.selectedCategory)
    },
    watch: {
      isLoading: function (val) {
        if (val) {
          this.$parent.$refs.topProgress.start()
        } else {
          this.$parent.$refs.topProgress.done()
        }
      }
    }
  }
</script>

<style scoped>
  .card {
    margin-bottom: 16px;
    margin-right: 16px;
    cursor: pointer;
  }
</style>
