<template>
  <div>
  </div>
</template>

<script>
  import {FETCH_POST} from '../store/actions.type'
  import {GET_POST, GET_POSTS_IS_LOADING} from '../store/getters.type'
  export default {
    name: 'archive-view',
    computed: {
      post () {
        return this.$store.getters[GET_POST]
      },
      isLoading () {
        return this.$store.getters[GET_POSTS_IS_LOADING]
      }
    },
    mounted () {
      let id = this.$route.params.id
      let category = this.$route.params.category
      this.$store.dispatch(FETCH_POST, {id: id, category: category})
    }
  }
</script>

<style scoped>

</style>
