<template>
  <form v-on:submit="onSubmit(username, email, password, retryPassword)">
    <div class="form-group">
      <input type="text" v-model="username" class="form-control" id="usernameInput"
             placeholder="Enter username" style="font-size: 14px; height: 45px;" v-bind:class="{'is-invalid': !correctUsername}">
      <div v-if="!correctUsername" class="invalid-feedback">Bad username.</div>
    </div>
    <div class="form-group">
      <input type="email" v-model="email" class="form-control" id="emailInput"
             placeholder="Enter email" style="font-size: 14px; height: 45px;"  v-bind:class="{'is-invalid': !correctEmail}" >
      <div v-if="!correctEmail" class="invalid-feedback">Bad email.</div>
    </div>
    <div class="form-group">
      <input type="password" v-model="password" class="form-control" id="passwordInput"
             placeholder="Password" style="font-size: 14px; height: 45px;"  v-bind:class="{'is-invalid': !correctPassword}">
      <div v-if="!correctPassword" class="invalid-feedback">Bad password.</div>
    </div>
    <div class="form-group">
      <input type="password" v-model="retryPassword" class="form-control" id="retryPasswordInput"
             placeholder="Retry password" style="font-size: 14px; height: 45px;"  v-bind:class="{'is-invalid': !correctRetryPassword}">
      <div v-if="!correctRetryPassword" class="invalid-feedback">Bad retryPassword.</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">SIGNUP</button>
  </form>
</template>

<script>
  import {SIGNUP} from '../store/actions.type'

  export default {
    name: 'signup',
    data () {
      return {
        username: '',
        email: '',
        password: '',
        retryPassword: '',
        correctUsername: true,
        correctEmail: true,
        correctPassword: true,
        correctRetryPassword: true
      }
    },
    methods: {
      onSubmit (username, email, password, retryPassword) {
        this.correctUsername = username.length >= 8
        this.correctPassword = password.length >= 8
        this.correctEmail = email.length >= 8
        this.correctRetryPassword = password === retryPassword

        if (this.correctUsername && this.correctPassword && this.correctEmail && this.correctRetryPassword) {
          this.$store
            .dispatch(SIGNUP, {email, username, password})
            .then(() => this.$router.push('/app'))
        }
      }
    },
    computed: {
      errors () {
        return this.$store.state.auth.errors
      }
    }
  }
</script>

<style scoped>

</style>
