<template>
  <div id="app">
    <router-view/>
    <div id="error" v-if="error">{{error}}</div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    name: 'app',
    computed: mapState({
      error: 'error'
    })
  }
</script>

<style>
  #app {
    font-family: "Roboto slab", 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  @font-face {
    font-family: "Roboto slab";
    font-weight: bold;
    src: url('../static/font/RobotoSlab-Bold.ttf');
  }

  @font-face {
    font-family: "Roboto slab";
    src: url('../static/font/RobotoSlab-Regular.ttf');
  }

  @font-face {
    font-family: "Roboto slab";
    font-weight: normal;
    src: url('../static/font/RobotoSlab-Regular.ttf');
  }

  #error {
    background-color: brown;
    width: 100%;
    height: 50px;;
  }
</style>
